  th.sort {
    cursor:pointer;
  }
  th.sort div.h {
    padding-right: 18px;
    position:relative;
  }
  th.sort div.h:after,
  th.sort div.h:before {
    content: "";
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #000 transparent;
    visibility: visible;
    right: 8px;
    top: 50%;
    position: absolute;
    opacity: .3;
    margin-top: -4px;
  }
  th.sort div.h:before {
    margin-top: 2px;
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000;
  }
  th.sort div.h:hover:after,
  th.sort div.h:hover:before {
    opacity: 1;
    visibility: visible;
  }
  th.sort.sort-desc,
  th.sort.sort-asc {
    background-color: rgba(141, 192, 219, 0.25);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  }
  th.sort.sort-desc div.h:after,
  th.sort.sort-asc div.h:after {
    margin-top: -2px;
  }
  th.sort.sort-desc div.h:before,
  th.sort.sort-asc div.h:before {
    visibility: hidden;
  }
  th.sort.sort-asc div.h:after,
  th.sort.sort-asc div.h:hover:after {
    visibility: visible;
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
  }
  th.sort.sort-desc div.h:after {
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000;
    visibility: visible;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
  }